# Binaries for programs and plugins
addressbook
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*~

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Stuff
.bash_profile

# Google Sheets API examples and credentials
quickstart/

# Debug data paf
.DS_Store
.README.md.icloud
.ratsit.txt.icloud
f.txt
	